html {
    background-color: aliceblue;
}

body {
    background-color: blue;
    width: 65%;
    margin: auto;
}


img {
    width: 75%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 7px #4d4d4d;
}

.image {
    display: flex;
    align-content: center;
    margin-top: 2.5%;
}

.cards {
    position: absolute;
    top: 28.5%;
    right: 33%;
    height: 22%;
    width: 17%;
}

.diary {
    position: absolute;
    top: 16%;
    left: 31%;
    height: 23%;
    width: 16%;
}

.paper {
    position: absolute;
    bottom: 31%;
    left: 32%;
    height: 23%;
    width: 16%;
}

header {
    width: 50%;
    margin: auto;
    padding: 0.5%;
    background-color: aqua;
    text-align: center;
}

.logo {
    padding: 1%;
    width: 50%;
}
