html {
    background-color: antiquewhite;
    width: 75%;
    margin: auto;
    margin-top: 10;
    margin-bottom: 10;
}

body {
    background-color: white;
    width: 65%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

img {
    width: 75%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #4d4d4d;
}

.image {
    display: flex;
    align-content: center;
    margin-top: 2.5%;
}

.cards {
    position: absolute;
    top: 28.5%;
    right: 33%;
    height: 22%;
    width: 17%;
}

.diary {
    position: absolute;
    top: 16%;
    left: 31%;
    height: 23%;
    width: 16%;
}

.paper {
    position: absolute;
    bottom: 31%;
    left: 32%;
    height: 23%;
    width: 16%;
}

header {
    width: 50%;
    margin: auto;
    padding: 2%;
    text-align: center;
}

.logo {
    padding: 1%;
    width: 50%;
}

.openinghours {
    display: block;
    vertical-align: middle;
    background-color: beige;
    margin: 6% auto;
    padding: 1%;
    height: 15%;
    width: 45%;
    text-align: center;
}

p {
    padding: 3%;
    font-size: 2vw;
}
