<html>
<link rel="stylesheet" href="css/style.css">

<body>
    <div class="main">
        <header>
            <img class="logo" src="logo.png"></header>
        <div class="image">
            <img src="floor_plan.JPG">
            <a href="arttc.html">
                <div class="cards">
                </div>
                <a href="artdiary.html">
                    <div class="diary">
                    </div>
                    <a href="paper_structure.html">
                        <div class="paper">
                        </div>
                    </a>
                </a>
            </a>
        </div>
    </div>
    <a href="hours.html">
        <div class="openinghours">
            <p>Opening Hours</p>
        </div>
    </a>
</body>

</html>
